In [1]:
import numpy as np
import pandas as pd

C:\Users\thoma\AppData\Roaming\Python\Python37\site-packages\numpy\core\__init__.py:29: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\thoma\AppData\Roaming\Python\Python37\site-packages\numpy\.libs\libopenblas.IPBC74C7KURV7CB2PKT5Z5FNR3SIBV4J.gfortran-win_amd64.dll
C:\Users\thoma\AppData\Roaming\Python\Python37\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
df = pd.read_csv('bundesliga-2009-2018_clean.csv')

In [3]:
df.home_team_id.head()

0     2394
1      266
2    17444
3      266
4    11609
Name: home_team_id, dtype: int64

In [4]:
try:
    df = df.drop('Unnamed: 0', axis=1)
except: KeyError
df.head()

,competition,date,gameday,guest_coach,guest_game_system,guest_team_id,guest_team_name,home_coach,home_game_system,home_team_id,home_team_name,identifier,result,saison,time,viewers,weekday,day,month,year
0,Bundesliga,2009-07-18 19:30:00,1,Paul Gludovatz,5-4-1,266,SV Ried,Werner Gregoritsch,4-5-1,2394,SV Kapfenberg,0d35ff9a835d4ed24af193dbcaa0a5b7a48210bfe36dba...,0:1,2009/10,19:30,3450,5,18,7,2009
1,Bundesliga,2009-07-25 19:30:00,2,Huub Stevens,4-4-2 Raute,409,Red Bull Salzburg,Paul Gludovatz,5-4-1,266,SV Ried,81225b68d59aa35cdc85291ea79a6b93d179a441e752e3...,1:0,2009/10,19:30,7600,5,25,7,2009
2,Bundesliga,2009-07-31 20:30:00,3,Paul Gludovatz,5-4-1,266,SV Ried,Helmut Kraft,4-4-2,17444,SC Wiener Neustadt,d8198d9be005849cc4cc3ec5f1c0cd99ebe0b84c26fc38...,2:1,2009/10,20:30,2700,4,31,7,2009
3,Bundesliga,2009-09-08 19:30:00,4,Peter Pacult,4-4-2 doppel 6,170,SK Rapid Wien,Paul Gludovatz,5-4-1,266,SV Ried,164564f0839d4a5d277ba006596369919e4717e5950fd1...,1:1,2009/10,19:30,7600,1,8,9,2009
4,Bundesliga,2009-08-21 20:30:00,5,Paul Gludovatz,3-4-2-1,266,SV Ried,Frenkie Schinkels,4-5-1,11609,SK Austria Kärnten,26596f43388b43546a5014d869f60e0165adb51df66464...,0:0,2009/10,20:30,5079,4,21,8,2009

In [5]:
columns = [
    'competition', 'saison', 'gameday', 'date',
    'home_team_name', 'guest_team_name', 'result',
    'home_coach', 'home_game_system', 'home_team_id',
    'guest_coach', 'guest_game_system', 'guest_team_id',
    'time', 'viewers', 'weekday', 'day', 'month', 'year',
    'identifier'
]

In [6]:
df.columns

Index(['competition', 'date', 'gameday', 'guest_coach', 'guest_game_system',
       'guest_team_id', 'guest_team_name', 'home_coach', 'home_game_system',
       'home_team_id', 'home_team_name', 'identifier', 'result', 'saison',
       'time', 'viewers', 'weekday', 'day', 'month', 'year'],
      dtype='object')

In [7]:
len(columns), len(df.columns)

(20, 20)

In [8]:
df = df[columns]

In [9]:
df.head()

,competition,saison,gameday,date,home_team_name,guest_team_name,result,home_coach,home_game_system,home_team_id,guest_coach,guest_game_system,guest_team_id,time,viewers,weekday,day,month,year,identifier
0,Bundesliga,2009/10,1,2009-07-18 19:30:00,SV Kapfenberg,SV Ried,0:1,Werner Gregoritsch,4-5-1,2394,Paul Gludovatz,5-4-1,266,19:30,3450,5,18,7,2009,0d35ff9a835d4ed24af193dbcaa0a5b7a48210bfe36dba...
1,Bundesliga,2009/10,2,2009-07-25 19:30:00,SV Ried,Red Bull Salzburg,1:0,Paul Gludovatz,5-4-1,266,Huub Stevens,4-4-2 Raute,409,19:30,7600,5,25,7,2009,81225b68d59aa35cdc85291ea79a6b93d179a441e752e3...
2,Bundesliga,2009/10,3,2009-07-31 20:30:00,SC Wiener Neustadt,SV Ried,2:1,Helmut Kraft,4-4-2,17444,Paul Gludovatz,5-4-1,266,20:30,2700,4,31,7,2009,d8198d9be005849cc4cc3ec5f1c0cd99ebe0b84c26fc38...
3,Bundesliga,2009/10,4,2009-09-08 19:30:00,SV Ried,SK Rapid Wien,1:1,Paul Gludovatz,5-4-1,266,Peter Pacult,4-4-2 doppel 6,170,19:30,7600,1,8,9,2009,164564f0839d4a5d277ba006596369919e4717e5950fd1...
4,Bundesliga,2009/10,5,2009-08-21 20:30:00,SK Austria Kärnten,SV Ried,0:0,Frenkie Schinkels,4-5-1,11609,Paul Gludovatz,3-4-2-1,266,20:30,5079,4,21,8,2009,26596f43388b43546a5014d869f60e0165adb51df66464...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509 entries, 0 to 2508
Data columns (total 20 columns):
competition          2509 non-null object
saison               2509 non-null object
gameday              2509 non-null object
date                 2509 non-null object
home_team_name       2509 non-null object
guest_team_name      2509 non-null object
result               2509 non-null object
home_coach           2101 non-null object
home_game_system     2101 non-null object
home_team_id         2509 non-null int64
guest_coach          2284 non-null object
guest_game_system    2284 non-null object
guest_team_id        2509 non-null int64
time                 2509 non-null object
viewers              2509 non-null int64
weekday              2509 non-null int64
day                  2509 non-null int64
month                2509 non-null int64
year                 2509 non-null int64
identifier           2509 non-null object
dtypes: int64(7), object(13)
memory usage: 392.1+ KB

In [11]:
df.guest_coach.value_counts(dropna=False).head()

NaN                    225
Franco Foda            146
Dietmar Kühbauer       122
Heimo Pfeifenberger     95
Peter Schöttel          91
Name: guest_coach, dtype: int64

In [12]:
df = df.fillna('?')

In [13]:
df.isna().sum().sum()

0

In [14]:
df.weekday = df.weekday.astype(str)
df.day = df.day.astype(str)
df.month = df.month.astype(str)
df.year = df.year.astype(str)

In [15]:
df.guest_coach.value_counts(dropna=False).head()

?                      225
Franco Foda            146
Dietmar Kühbauer       122
Heimo Pfeifenberger     95
Peter Schöttel          91
Name: guest_coach, dtype: int64

In [16]:
df.result[df.result.str.contains('E')] = '1:1'

C:\Users\thoma\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
df.result = df.result.str.slice(stop=3)

In [18]:
len(df[df.result.str.contains('V')]), len(df[df.result.str.contains('E')]), len(df[df.result.str.contains('n')])

(0, 0, 0)

In [326]:
goals = pd.DataFrame()


goals['home_team_id'] = df['home_team_id']
goals['guest_team_id'] = df['guest_team_id']

goals['home_goals'] = df.result.str.slice(stop=1)
goals['guest_goals'] = df.result.str.slice(start=2)


goals.home_team_id = goals.home_team_id
goals.guest_team_id = pd.to_numeric(goals.guest_team_id)
goals.home_goals = pd.to_numeric(goals.home_goals)
goals.guest_goals = pd.to_numeric(goals.guest_goals)

goals.shape

(2509, 4)

In [20]:
goals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2509 entries, 0 to 2508
Data columns (total 4 columns):
home_team_id     2509 non-null int64
guest_team_id    2509 non-null int64
home_goals       2509 non-null int64
guest_goals      2509 non-null int64
dtypes: int64(4)
memory usage: 78.5 KB

In [21]:
goals[0:].head()

   home_team_id  guest_team_id  home_goals  guest_goals
0          2394            266           0            1
1           266            409           1            0
2         17444            266           2            1
3           266            170           1            1
4         11609            266           0            0

In [22]:
goals.home_goals.cumsum().head()

0    0
1    1
2    3
3    4
4    4
Name: home_goals, dtype: int64

In [23]:
#### home team goals shoot at home
cumsum_1 = goals.home_goals.groupby(goals.home_team_id).cumsum() - goals.home_goals
cumcount_1 = goals.home_goals.groupby(goals.home_team_id).cumcount()
goals['home team goals shoot at home avg'] = cumsum_1 / cumcount_1

In [24]:
#### home team goals received at home
cumsum_2 = goals.guest_goals.groupby(goals.home_team_id).cumsum() - goals.guest_goals
cumcount_2 = goals.guest_goals.groupby(goals.home_team_id).cumcount()
goals['home team goals received at home avg'] = cumsum_2 / cumcount_2

In [25]:
#### home team goals shoot as guest
# goals['home team goals shoot as guest'] = goals.guest_goals.groupby(goals.guest_team_id == goals.home_team_id).cumsum()

In [26]:
#################################

In [27]:
#################################

In [28]:
### guest team goals shoot as guest
cumsum_3 = goals.guest_goals.groupby(goals.guest_team_id).cumsum() - goals.guest_goals
cumcount_3 = goals.guest_goals.groupby(goals.guest_team_id).cumcount()
goals['guest team goals shoot as guest avg'] = cumsum_3 / cumcount_3

In [29]:
### guest team goals received as guest
cumsum_4 = goals.home_goals.groupby(goals.guest_team_id).cumsum() - goals.home_goals
cumcount_4 = goals.home_goals.groupby(goals.guest_team_id).cumcount()
goals['guest team goals received as guest avg'] = cumsum_4 / cumcount_4

In [30]:
goals = goals.fillna(0)

In [31]:
goals['home team avg home diff'] = goals['home team goals shoot at home avg'] - goals['home team goals received at home avg']
goals['guest team avg guest diff'] = goals['guest team goals shoot as guest avg'] - goals['guest team goals received as guest avg']

In [32]:
goals.head()

,home_team_id,guest_team_id,home_goals,guest_goals,home team goals shoot at home avg,home team goals received at home avg,guest team goals shoot as guest avg,guest team goals received as guest avg,home team avg home diff,guest team avg guest diff
0,2394,266,0,1,0.0,0.0,0.0,0.0,0.0,0.0
1,266,409,1,0,0.0,0.0,0.0,0.0,0.0,0.0
2,17444,266,2,1,0.0,0.0,1.0,0.0,0.0,1.0
3,266,170,1,1,1.0,0.0,0.0,0.0,1.0,0.0
4,11609,266,0,0,0.0,0.0,1.0,1.0,0.0,0.0

In [33]:
goals.home_goals.groupby(goals.guest_team_id).cumsum().iloc[3]

1

In [34]:
sub = goals[['home_team_id', 'guest_team_id', 'home_goals', 'guest_goals']]

In [36]:
sub.to_csv('sub.csv')

In [134]:
goals[goals.guest_team_id == 266].index.values

array([   0,    2,    4,    6,    7,    9,   11,   13,   15,   18,   20,
         22,   24,   26,   29,   31,   33,   35,   36,   37,   38,  260,
        262,  263,  265,  267,  269,  271,  274,  276,  278,  280,  282,
        284,  286,  287,  289,  291,  293,  295,  296,  297,  506,  508,
        510,  511,  513,  515,  517,  518,  521,  523,  525,  528,  529,
        531,  533,  535,  536,  539,  541,  543,  545,  546,  547,  548,
        550,  758,  761,  762,  765,  767,  769,  772,  773,  775,  777,
        779,  780,  783,  785,  787,  790,  791,  793,  795,  797,  798,
        799,  800,  992,  994,  996,  998, 1000, 1002, 1004, 1006, 1008,
       1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1029,
       1030, 1237, 1240, 1242, 1243, 1245, 1247, 1248, 1250, 1253, 1255,
       1258, 1260, 1261, 1263, 1265, 1266, 1268, 1271, 1272, 1465, 1467,
       1469, 1471, 1472, 1475, 1477, 1479, 1482, 1483, 1485, 1487, 1489,
       1490, 1493, 1495, 1497, 1500, 1501, 1503, 1702, 1704, 1706, 1708,
       1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730,
       1732, 1734, 1736, 1738, 1739, 2135, 2153, 2212], dtype=int64)

In [372]:
col_of_int = 'home team goals shot as guest'

goals[col_of_int] = np.NaN

indizes_list = []
numbers = []

for i in range(len(goals)):

    indizes = goals[goals.guest_team_id == goals.guest_team_id[i]].index.values
    indizes = list(indizes)
    numbers.append(goals.guest_team_id[i])
    if indizes not in indizes_list:
        indizes_list.append(indizes)


#print(len(indizes_list))
#print(indizes_list[1])

for i in range(len(indizes_list)):
    indizes = indizes_list[i]
    subset = goals.guest_goals.loc[indizes].cumsum() - goals.guest_goals.loc[indizes]
    goals[col_of_int] = goals[col_of_int].fillna(subset).where(goals.home_team_id == numbers[i])
    

goals.head(15)

,home_team_id,guest_team_id,home_goals,guest_goals,home team goals shot as guest
0,2394,266,0,1,NaN
1,266,409,1,0,NaN
2,17444,266,2,1,NaN
3,266,170,1,1,NaN
4,11609,266,0,0,NaN
5,266,122,1,2,NaN
6,856,266,3,0,NaN
7,14,266,1,1,NaN
8,266,413,5,2,NaN
9,413,266,2,2,NaN
10,266,2394,3,0,NaN
11,409,266,1,1,NaN
12,266,17444,3,0,NaN
13,170,266,1,0,NaN
14,266,11609,1,0,NaN